<div class="block-header mt-6">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>Welcome to Bus Bro
              
            </h2>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
            <button class="btn btn-white btn-icon btn-round hidden-sm-down float-right m-l-10" type="button">
                <i class="zmdi zmdi-plus"></i>
            </button>
            <ul class="breadcrumb float-md-right">
                <li class="breadcrumb-item"><a href=""><i class="zmdi zmdi-home"></i> Hom</a></li>
                <li class="breadcrumb-item active">Dashbard</li>
 
            </ul>
        </div>
    </div>
</div>