
{% load static %}

<!doctype html>
<html class="no-js " lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="description" content="Student transportation bus monitoring system . ">
        <title>:: BUS :: PRO</title>
        <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
        <!-- Favicon-->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/authentication.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/color_skins.css' %}">
    </head>

<body class="theme-orange authentication sidebar-collapse">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-transparent">
    <div class="container">        
        <div class="navbar-translate n_logo">
            <a class="navbar-brand" href="javascript:void(0);" title="" target="_blank">BUS PRO</a>
            <button class="navbar-toggler" type="button">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="">Home</a>
                </li>
              
               
                <li class="nav-item">
                    <a class="nav-link btn btn-white btn-round" href="{%url 'users:register'%}">SIGN UP</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<style>
    
</style>
<!-- End Navbar -->
<div class="page-header">
    
    <div class="container">
        <div class="col-md-12 content-center">
            <div class="col-lg-6 col-md-8 col-12 mx-auto ">
                <div class="card z-index-0 fadeIn3 fadeInBottom">
                 
                    <div class="card-body">
                        <form class="form" method="post" action="{%url 'users:register'%}">
                            {% csrf_token %}
                            
                            <div class="content"> 
                               
                                <div class="input-group">
                                    <input type="text" class="form-control" name="{{ form.username.name }}" placeholder=" User Name">
                                    <span class="input-group-addon">
                                        <i class="zmdi zmdi-account-circle"></i>
                                    </span>
                                    {% if form.username.errors %}
                                    <label class="error" style="color: red;" >{{ form.username.errors.as_text }}</label>
                                    {% endif %}
                                </div>
                                <div class="input-group">
                                    <input type="email" class="form-control" name="{{ form.email.name }}" placeholder=" Email">
                                    <span class="input-group-addon">
                                        <i class="zmdi zmdi-email"></i>
                                    </span>
                                    {% if form.email.errors %}
                                    <label class="error" style="color: red;" >{{ form.email.errors.as_text }}</label>
                                    {% endif %}
                                </div>
                                <div class="input-group">
                                    <input type="password" placeholder="Password1" name="{{ form.password1.name }}" class="form-control" />
                                    <span class="input-group-addon">
                                        <i class="zmdi zmdi-lock"></i>
                                    </span>
                                </div>                        
                                <div class="input-group">
                                    <input type="password" placeholder="Password2" name="{{ form.password2.name }}" class="form-control" />
                                    <span class="input-group-addon">
                                        <i class="zmdi zmdi-lock"></i>
                                    </span>
                                </div>                        
                            </div>
                            <div class="checkbox">
                                    <input id="terms" type="checkbox">
                                    <label for="terms" style="color: black;">
                                            I read and agree to the <a href="javascript:void(0);">terms of usage</a>
                                    </label>
                                </div>
                            <div class="footer text-c">
                                <button type="submit"  class="btn btn-primary btn-round btn-lg btn-block ">SIGN UP</button>
                            </div>
                        </form>
                        <p class="" style="color: black;">already an account <a href="{% url 'users:login' %}"> Login</a></p>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="" target="_blank">Contact Us</a></li>
                    <li><a href="" target="_blank">About Us</a></li>
                    <li><a href="javascript:void(0);">FAQ</a></li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>,
                <span>Designed by <a href="" >Nageeb</a></span>
            </div>
        </div>
    </footer>
</div>


<!-- Jquery Core Js -->
<script src="{% static 'assets/js/libscripts.bundle.js'%}"></script>
<script src="{% static 'assets/js/vendorscripts.bundle.js'%}"></script> <!-- Lib Scripts Plugin Js --> 
<script>
    $(".navbar-toggler").on('click',function() {
     $("html").toggleClass("nav-open");
 });
 //=============================================================================
 
 </script>
</body>
</html>